---
import Logo from "../../assets/logos/TOUTOLERON_Embleme_blanc.svg";
import CheckIcon from "../../assets/svg/check.svg";
import Arrow2 from "../../assets/svg/arrow-02.svg";

class CardItem {
    constructor(public hint: string, public title: string, public bullets: string[] = [], public emoji: string = "") {
        this.hint = hint;
        this.title = title;
        this.bullets = bullets;
        this.emoji = emoji;
    }
}

const cardItems: CardItem[] = [
    new CardItem(
        "Zéro charge mentale IT",
        "Sérénité au quotidien",
        [
            "Garantie complète du matériel pendant toute la durée de la location.",
            "Prêt express en 48h en cas de panne.",
            "Accès direct et illimité au service client.",
        ],
        "🧘"
    ),
    new CardItem(
        "Simplement tout compris",
        "Efficience budgétaire",
        [
            "Matériel de référence à tarif préférentiel.",
            "Abonnement sur-mesure, sans apport ni dépôt de garantie.",
            "Frais de livraison, installation et renouvellement inclus.",
        ],
        "💡"
    ),
    new CardItem(
        "Continuité du soin",
        "Outil opérationnel",
        [
            "Package adapté aux besoins réels.",
            "Suivi à distance.",
            "Réinstallation WEDA incluse.",
        ],
        "🩺"
    ),
];
---

<section id="mastered-efficiency" class="relative flex justify-center lg:justify-start items-center bg-primary h-200 overflow-hidden">

    <img src={Logo.src} alt="Logo" class="h-200 w-auto opacity-25"/>

    <div class="absolute flex flex-col items-center p-6 lg:p-8">
        <h2 class="text-3xl md:text-4xl lg:text-5xl text-center mb-10">
            Marre des journées à gérer les pannes ? <br/>
            <span class="font-semibold">Place à l’efficacité maîtrisée.</span>
        </h2>

        <!-- Cards -->
        <div class="hidden lg:grid gap-8 grid-cols-3">
            {cardItems.map((c) => (
                    <div class="card bg-base-300 shadow-sm">
                        <div class="card-body">
                            <div class="flex items-center gap-3">
                                <div class="h-10 w-10 rounded-full bg-base-200 flex items-center justify-center text-xl">
                                    {c.emoji}
                                </div>
                            </div>
                            <div class="mt-2 text-base-content/70 text-sm">{c.hint}</div>
                            <h3 class="mt-1 text-xl font-semibold">{c.title}</h3>

                            <ul class="mt-3 space-y-3">
                                {c.bullets.map((b) => (
                                        <li class="flex items-start gap-3">
                                            <img src={CheckIcon.src} alt="" class="h-5 w-5 mt-0.5"/>
                                            <span>{b}</span>
                                        </li>
                                ))}
                            </ul>
                        </div>
                    </div>
            ))}
        </div>

        <div class="carousel gap-12 max-w-80 overflow-hidden lg:hidden">
            {cardItems.map((cardItem, index) => (
                    <div id={`efficacite-maitrise-${index}`} class="carousel-item flex flex-col items-center justify-center max-w-80 h-full">
                        <div class="flex items-center justify-center gap-4">
                            {index > 0 &&
                                    <a href={`#efficacite-maitrise-${index - 1}`}>
                                        <img class="h-16 w-16" src={Arrow2.src} alt="Précédent"/>
                                    </a>}
                            {index < cardItems.length - 1 &&
                                    <a href={`#efficacite-maitrise-${index + 1}`}>
                                        <img class="h-16 w-16 rotate-y-180" src={Arrow2.src} alt="Suivant"/>
                                    </a>}
                        </div>
                        <div class="card bg-base-300 shadow-sm">
                            <div class="card-body">
                                <div class="flex items-center gap-3">
                                    <div class="h-10 w-10 rounded-full bg-base-200 flex items-center justify-center text-xl">
                                        {cardItem.emoji}
                                    </div>
                                </div>
                                <div class="mt-2 text-base-content/70 text-sm">{cardItem.hint}</div>
                                <h3 class="mt-1 text-xl font-semibold">{cardItem.title}</h3>

                                <ul class="mt-3 space-y-3">
                                    {cardItem.bullets.map((b) => (
                                            <li class="flex items-start gap-3">
                                                <img src={CheckIcon.src} alt="" class="h-5 w-5 mt-0.5"/>
                                                <span>{b}</span>
                                            </li>
                                    ))}
                                </ul>
                            </div>
                        </div>
                    </div>
            ))}
        </div>

        <!-- CTA -->
        <div class="mt-8 flex justify-center">
            <a target="_blank"
               href='https://outlook.office.com/book/test@toutoleron.com/?ismsaljsauthenabled'
               class="btn btn-accent rounded-full px-6 text-accent-content font-medium">
                Prendre RDV
            </a>
        </div>
    </div>
</section>