---
import Getty1 from "../../assets/photos/gettyimages-108112936-2048x2048.jpg";
import Getty2 from "../../assets/photos/gettyimages-596435227-2048x2048.jpg";
import Getty3 from "../../assets/photos/gettyimages-602981371-2048x2048.jpg";
import Getty4 from "../../assets/photos/gettyimages-1405683451-2048x2048.jpg";
import Logo from "../../assets/logos/TOUTOLERON_Embleme_blanc.svg";
import Marquee from "../Marquee.astro";

interface Props {
    description?: string,
    bannerQuote?: string,
    bannerSubtitle?: string,
    footerTitle?: string,
    footerDescription?: string,
}

const {
    description = "La digitalisation de la santé et les nouvelles réglementations apportent de nouveaux défis " +
        "aux soignants, souvent vécus comme complexes et contraignants. Chez Toutoléron, nous les aidons à adopter ces " +
        "changements sereinement et à simplifier leur quotidien numérique pour préserver la relation soignant-patient.",
    bannerQuote = "« 75 % des médecins " +
        "craignent une " +
        "déshumanisation de la " +
        "médecine dans le futur* »",
    bannerSubtitle = "Avec Toutoléron, les solutions numériques et " +
        "services associés d’e-santé sont pensés pour " +
        "réduire la charge mentale, améliorer les conditions " +
        "d’exercice et renforcer le lien soignant-patient.",
} = Astro.props as Props;
---

<!-- BrandingIndex section -->
<section class="hidden sm:block">
    <div class="px-16">
        <!-- Title & intro -->
        <div class="py-16 mx-auto text-center">
            <h2 class="text-5xl leading-tight whitespace-pre-line">
                Tout pour libérer ce que la médecine a
                <span class="font-semibold">de plus humain.</span>
            </h2>
            <p class="mt-16 text-xl text-base-content">
                {description}
            </p>
        </div>

        <div class="overflow-hidden my-4 items-center rounded-2xl bg-primary bg-center bg-cover bg-no-repeat">

            <!-- Quote banner with collage -->
            <div class="grid grid-cols-2 gap-6 lg:gap-10 items-stretch h-150">

                <!-- Left card with quote -->
                <div class="relative rounded-2xl p-6 h-150">

                    <img src={Logo.src} alt="Logo" class="w-full h-auto opacity-25"/>

                    <div class="absolute inset-0 px-8 lg:px-16 flex flex-col justify-evenly items-center z-10">
                        <h3 class="text-xl md:text-2xl lg:text-4xl font-semibold">
                            {bannerQuote}
                        </h3>
                        <p class="mt-4 text-lg font-semibold text-base-content/80 whitespace-pre-line">{bannerSubtitle}</p>
                        <p class="mt-4 text-md lg:text-lg text-base-content/60">*Étude Doctolib 2022, panel de 640
                            praticiens</p>
                    </div>

                </div>

                <!-- Right collage -->
                <div class="grid grid-cols-2 gap-4 pr-4 overflow-hidden">
                    <Marquee axis="y" speed="18s" class="bg-primary">
                        <img src={Getty1.src} alt=""
                             class="block h-[380px] w-full object-cover rounded-2xl"/>
                        <div class="h-[20px]"></div>
                        <img src={Getty2.src} alt=""
                             class="block h-[180px] w-full object-cover rounded-2xl"/>
                        <div class="h-[20px]"></div>
                    </Marquee>
                    <Marquee axis="y" speed="18s" class="bg-primary transform rotate-x-180">
                        <img src={Getty3.src} alt=""
                             class="block h-[180px] w-full object-cover rounded-2xl transform rotate-x-180"/>
                        <div class="h-[20px]"></div>
                        <img src={Getty4.src} alt=""
                             class="block h-[380px] w-full object-cover object-[80%_center] rounded-2xl transform rotate-x-180"/>
                        <div class="h-[20px]"></div>
                    </Marquee>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block sm:hidden">
    <div class="px-4">
        <!-- Title & intro -->
        <div class="mx-auto text-center">
            <h2 class="text-3xl leading-tight whitespace-pre-line">Tout pour libérer ce que la médecine a <span
                    class="font-semibold">de plus humain.</span></h2>
            <p class="mt-5 text-xl text-base-content">
                {description}
            </p>
        </div>

        <div class="my-4 pb-4 rounded-2xl bg-primary bg-center bg-cover bg-no-repeat">

            <!-- Quote banner with collage -->
            <div class="flex items-center justify-center">

                <div class="relative rounded-2xl p-2">

                    <img src={Logo.src} alt="" class="w-full h-auto opacity-25"/>

                    <div class="absolute inset-0 px-8 flex flex-col justify-evenly items-center z-10">
                        <h3 class="text-xl font-semibold">
                            {bannerQuote}
                        </h3>
                        <p class="mt-2 text-md font-semibold text-base-content/80 whitespace-pre-line">{bannerSubtitle}</p>
                        <p class="mt-2 text-sm text-base-content/60">*Étude Doctolib 2022, panel de 640 praticiens</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>